.nav-top {
  //background-color: #1A1B54;
  border-bottom-left-radius: 3em;

  .container {
    line-height: 50px;
  }

  .row {
    margin-bottom: 0;
  }
}

nav {
  height: 265px;

  img {
    margin: 5px 0;
    max-width: 221px;
    width: 100%;
  }

  .material-icons.tiny {
    display: inline-block;
    font-size: 1rem;
  }

  .main-menu {
    padding: 1rem 0 0 4rem;

    li {
      float: none;

      a {
        font-size: 1.4rem;
        height: auto;
        line-height: 1.7em;
      }
    }
  }
}

@media screen and (min-width: 1090px) {
  nav .main-menu {
    float: right;
    padding: 0;

    li {
      display: inline-block;

      a {
        height: 210px;
        line-height: 200px;
        text-align: center;
      }
    }
  }
}

@media screen and (min-width: 1660px) {
  nav .main-menu li a {
    font-size: 2.3rem;
  }
}

.social-media {
  margin-right: 1.5em;
  display: inline-block;
  vertical-align: middle;

  img {
    margin: 13px 0 0 0;
    width: 1.5em;
  }
}

nav .icon-and-contact {
  display: inline-block;
  margin-right: 1.5em;

  a, i {
    display: inline-block;
    vertical-align: middle;
  }

  i {
    margin-right: 0.2em;
  }
}

