@font-face {
  font-family: 'Century Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(./CenturyGothicRegular.ttf) format('truetype');
}

body, html {
  font-family: 'Century Gothic', sans-serif;
}