.nav-top {
  background-color: #1A1B54;
  border-bottom-left-radius: 3em;

  .container {
    line-height: 50px;
  }

  .row {
    margin-bottom: 0;
  }
}

nav {
  height: 260px;

  img {
    margin: 5px 0;
  }
}

