.textfield-module-wrapper {

  $activeColor: #1A237E;

  input, textarea {
    &:focus:not([readonly]) {
      border-bottom: 1px solid $activeColor;
      box-shadow: 0 1px 0 0 $activeColor;
    }
  }

  input, textarea {
    &:focus:not([readonly]) + label {
      color: $activeColor;
    }
  }

  //input:invalid + label.active::after {
  //input:invalid + label::after {
  //  content: attr(data-error);
  //  color: #F44336;
  //  display: block;
  //  opacity: 1;
  //}
}