.nav-top {
  //background-color: #1A1B54;
  border-bottom-left-radius: 3em;

  .container {
    line-height: 50px;
  }

  .row {
    margin-bottom: 0;
  }
}

nav {
  height: 265px;

  img {
    margin: 5px 0;
  }

  .material-icons.tiny {
    display: inline-block;
    font-size: 1rem;
  }

  .right li a {
    font-size: 2.3rem;
    height: 210px;
    line-height: 200px;
    text-align: center;
  }
}

.social-media {
  margin-right: 1.5em;
  display: inline-block;
  vertical-align: middle;

  img {
    margin: 13px 0 0 0;
    width: 1.5em;
  }
}

nav .icon-and-contact {
  display: inline-block;
  margin-right: 1.5em;

  a, i {
    display: inline-block;
    vertical-align: middle;
  }

  i {
    margin-right: 0.2em;
  }
}

